/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/

:root {
  --font-family: "Inter", sans-serif;
  --font-size-clock-display: 6.25rem;
  --font-size-details-panel: 1.25rem;
  --font-size-disclosure: 0.75rem;
  --font-size-greeting: 0.9375rem;
  --font-size-label: 0.625rem;
  --font-size-location-display: 0.9375rem;
  --font-size-time-display: 0.9375rem;
  --font-size: 0.75rem;
  --font-weight-bold: 700;
  --font-weight-extra-light: 200;
  --font-weight-regular: 400;
}

/* Tablet/Medium: 768px */
@media screen and (min-width: 48em) {
  :root {
    --font-size-clock-display: 10.9375rem;
    --font-size-details-panel: 2.5rem;
    --font-size-disclosure: 1rem;
    --font-size-greeting: 1.125rem;
    --font-size-label: 0.8125rem;
    --font-size-location-display: 1.125rem;
    --font-size-time-display: 2rem;
    --font-size: 1.125rem;
  }
}

/* Large: 992px */
@media screen and (min-width: 62em) {
  :root {
    --font-size-clock-display: 12.5rem;
    --font-size-details-panel: 3.5rem;
    --font-size-disclosure: 1rem;
    --font-size-greeting: 1.25rem;
    --font-size-label: 0.9375rem;
    --font-size-location-display: 1.5rem;
    --font-size-time-display: 2.5rem;
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  min-height: 100vh;
  min-width: 100vw;
}

.button {
  align-items: center;
  align-self: start;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: var(--font-size-disclosure);
  justify-content: center;
  padding: 0;
  text-align: center;

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentColor;
  }
}

.daytime {
  background-image: url(../images/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  @media screen and (min-width: 48em) {
    background-image: url(../images/tablet/bg-image-daytime.jpg);
  }

  @media screen and (min-width: 75em) {
    background-image: url(../images/desktop/bg-image-daytime.jpg);
  }

  .sun-moon-icon {
    background-image: url(../images/icon-sun.svg);
  }
}

.nighttime {
  background-image: url(../images/mobile/bg-image-nighttime.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  @media screen and (min-width: 48em) {
    background-image: url(../images/tablet/bg-image-nighttime.jpg);
  }

  @media screen and (min-width: 75em) {
    background-image: url(../images/desktop/bg-image-nighttime.jpg);
  }

  .sun-moon-icon {
    background-image: url(../images/icon-moon.svg);
  }
}

.main-panel {
  align-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: grid;
  grid-template-areas:
    "quote"
    "."
    "greeting"
    "timedisplay"
    "locationdisplay"
    "disclosure";
  grid-template-rows: minmax(6rem, min-content) 14.1875rem 1.5625rem minmax(7.25rem, min-content) 2.75rem 5.4375rem;
  padding: 2rem 1.625rem 2.5rem;
  min-height: 100vh;

  @media screen and (min-width: 48em) {
    grid-template-rows: minmax(8rem, min-content) 24.25rem 1.75rem minmax(10.9375rem, min-content) 1.75rem 8.5rem;
    padding: 5rem 8.2294rem 4rem 4rem;
  }

  @media screen and (min-width: 75em) {
    grid-template-areas:
      "quote ."
      ". ."
      "greeting ."
      "timedisplay ."
      "locationdisplay disclosure";
    grid-template-columns: 38rem auto;
    grid-template-rows: minmax(8rem, min-content) 14.5624rem 2.75rem minmax(12.5rem, min-content) 3.5rem;
    padding: 5rem 8.2294rem 4rem 4rem;
  }

  @media screen and (min-width: 75em) {
    padding: 3.5rem 10.3125rem 6.125rem;
  }
}

.quote {
  align-items: start;
  column-gap: 1.0419rem;
  display: grid;
  grid-area: quote;
  grid-template-columns: auto 1.0419rem;
  line-height: 1.375rem;

  @media screen and (min-width: 48em) {
    line-height: 1.75rem;
  }

  @media screen and (min-width: 62em) {
    column-gap: 0.9794rem;
  }
}

.quote-author {
  font-weight: var(--font-weight-bold);
  grid-column: 1 / 2;
}

.refresh {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  &:hover,
  &:active,
  &:focus {
    .refresh-icon > path {
      opacity: 1;
    }
  }

  @media screen and (min-width: 48em) {
    margin-top: .5rem;
  }
}

.refresh-icon {
  height: 1.1rem;
  width: 1.1rem;
}

.greeting {
  align-items: center;
  display: flex;
  font-size: var(--font-size-greeting);
  grid-area: greeting;
  letter-spacing: 0.1875rem;
  line-height: 1.5625rem;
  text-transform: uppercase;

  @media screen and (min-width: 48em) {
    letter-spacing: 0.225rem;
    line-height: 1.75rem;
  }
}

.sun-moon-icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-flex;
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.time-introduction {
  display: none;

  @media screen and (min-width: 48em) {
    display: initial;
  }
}

.time-display {
  font-size: var(--font-size-time-display);
  grid-area: timedisplay;

  @media screen and (min-width: 48em) {
    align-self: end;
  }
}

.clock {
  font-size: var(--font-size-clock-display);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.1563rem;
  line-height: 6.25rem;
  margin-right: 0.5rem;

  @media screen and (min-width: 48em) {
    letter-spacing: -0.27375rem;
    line-height: var(--font-size-clock-display);
  }
}

.timezone-abbr {
  font-weight: var(--font-weight-extra-light);
  line-height: 1.75rem;
  text-transform: uppercase;
}

.location-display {
  font-size: var(--font-size-location-display);
  font-weight: var(--font-weight-bold);
  grid-area: locationdisplay;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;

  @media screen and (min-width: 48em) {
    letter-spacing: 0.225rem;
  }
}

.disclosure {
  background-color: #ffffff;
  border-radius: 1.75rem;
  grid-area: disclosure;
  max-height: 2.4375rem;
  max-width: 7.1875rem;

  &:hover,
  &:focus {
    .disclosure-icon circle {
      fill: #999999;
    }
  }

  @media screen and (min-width: 48em) {
    align-self: end;
    max-height: 4rem;
    max-width: 10rem;
  }

  @media screen and (min-width: 75em) {
    justify-self: end;
  }
}

.disclosure-text {
  color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2344rem;
  margin-left: 1rem;
  margin-right: 0.6874rem;
  text-transform: uppercase;

  @media screen and (min-width: 48em) {
    font-size: 1rem;
    letter-spacing: 0.3125rem;
    line-height: 1.75rem;
    margin-left: 1.3125rem;
    margin-right: 0.5rem;
  }
}

.disclosure-icon__container {
  border-radius: 50%;
  display: inline-flex;
  margin: 0.25rem 0.25rem 0.25rem 0;

  @media screen and (min-width: 48em) {
    margin: 0.5rem 0.5625rem 0.5rem 0;
  }
}

.disclosure-icon {
  height: 2rem;
  transform: rotate(180deg);
  width: 2rem;

  @media screen and (min-width: 48em) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.details-panel {
  display: none;
}
